* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: slategray;
}

.categoryFilter {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 15px;
    color: azure;
    width: 70%;
    height: 70px;
}

.productListings {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

label {
    width: 15%;
    font-size: 20px;
    background-color: darkslategray;
    color: azure;
}

.main {
    background-color: grey;
    border-radius: 22px;
    border: 2px solid azure;
    margin: 5%;
    padding: 3%;
}

.productName {
    color: red;
    margin: 5%;
    font-size: large;
}

.productCategory,
.productPrice,
.productTags {
    color: azure;
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noResults {
    color: red;
    background-color: azure;
    text-align: center;
    font-size: 50px;
    height: 200px;
    padding: 2%;
}